<h1 class="animated fadeIn Fast">Sobre comicApps</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor, sit amet consectetur 
    adipisicing elit. Exercitationem praesentium 
    doloremque illo quis quas temporibus illum
    aut nulla laborum incidunt fugit eos dolorum
    deserunt natus dolore, voluptatum 
    laudantium possimus sit similique eaque 
    nemo iusto veritatis odit. Omnis ad dolores
    quisquam earum in ipsa aliquid! Maiores 
    asperiores recusandae sed? Similique, 
    possimus!
</p>
